@font-face {
    font-family: myFirstFont;
    src: url(Playfair_Display/PlayfairDisplay-Italic-VariableFont_wght.ttf);
  }
* {
    box-sizing: border-box;
    margin: 0;
}
div {
    /* border: 1px solid black; */
    /* color: rgba(0, 255, 81, 0.771); */
}
body {
    height: 100vh;
    position: relative;
}
.header,.footer {
    height: 7vh;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}
.main, .mainHome {
    height: 86vh;
    overflow: auto;
    max-height: 100%;
    
}
.main{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    overflow: auto;
}
.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    align-items: center;
}

.header div {
    display: flex;
    /* padding: 0 10px 0 ; */
    height: min-content;
    align-items: center;
    margin-right: 10px  ;
    margin-left: 3px;
    font-size: clamp(0.9rem, 2vw, 1.6rem);
    /* font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
    font-family: myFirstFont;
    font-style: oblique;
    /* box-shadow: rgba(63, 132, 185, 0.355) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px; */
    border-radius: 5px;
    transition: all .07s ease;
}

.headerRight div:hover {
    transform: scale(1.1);
    color:red
}
.logo:hover {
    transform: scale(1.1);
    color:red
}
.headerRight {
    max-width: 40%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.mainHome {
    display: flex;
    flex-wrap: wrap;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;}


.mainLeft, .mainRight {
    min-width: 320px;
    flex: 1;
}

.mainRight {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url('./img/pexels-cottonbro-studio-6954064.jpg');
    background-size: cover;
    background-color: rgba(128, 128, 128, 0.76);
    background-blend-mode: soft-light;
    background-position-y: center;
    padding: 0 50px 0;
    align-items: center;
    font-size: clamp(1.2rem, 2.5vw, 4rem);
    font-style: oblique;
    color: white;
}

.mainLeft {
    display: grid;
    grid-template-columns:  1fr 2fr  ;
    grid-template-rows:  1fr 2fr ;
    gap: 5px;
}
.foto_1 {
    display: flex;
    background-image: url('./img/pexels-william-choquette-2641886.jpg');
    grid-row: 2;
    grid-column: 1;
    background-size: cover;
    background-repeat: no-repeat;
}
.foto_2 {
    display: flex;
    background-image: url('./img/pexels-kyle-roxas-2122294.jpg');
    background-size: cover;
    background-position-y: bottom;
    background-repeat: no-repeat;
    grid-row: 1 / span 2 ;
    grid-column: 2;
}
.foto_3 {
    display: flex;
    background-image: url('./img/pexels-flo-dahm-541216.jpg');
    background-size: cover;
    background-position-y: bottom;
    background-repeat: no-repeat;
    grid-row: 1  ;
    grid-column: 1;
}

.logo {
    position: absolute;
    left: calc(50vw - clamp(5vw, 15vw, 200px)/2);
    top: 2vw;
    background-image: url('./img/logo.png');
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    min-width: clamp(5vw, 15vw, 200px);
    min-height: clamp(5vw, 15vw, 200px);
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;

}
.quoteAuthor {
    display: block;
    font-size: clamp(0.8rem, 2vw, 3rem);;
    color: red;
}

.footer {
    font-family: myFirstFont;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menuDiv, .menuDrinkDiv, .menuDessertDiv {
    /* overflow: scroll; */
    display: grid;
    grid-template-rows: 0.5fr repeat(9,1fr);
    width: 450px;
    /* justify-content: end; */
    align-items: start;
    margin-top: calc(clamp(0px, 15vw, 200px));
    margin-left: 20px;
}
.menuDiv > div,.menuDrinkDiv > div , .menuDessertDiv > div {
    font-size: calc(0.6vw + clamp(5px, 0.6rem ,1.0rem));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: scroll;

}

.dish, .drink, .dessert {
    font-size: calc(2vw + clamp(10px, 0.6rem ,1.0rem));
}
.dish h4, .drink h4, .dessert h4{
    font-size: calc(0.5vw + clamp(6px, 0.5rem ,1.0rem));
    font-weight: 100;
    font-family: myFirstFont;
    margin-bottom: 0.6rem;
    /* border-bottom: 2px solid black; */
    text-align: center;
}
.h3Menu {
    text-decoration: underline;
}

.contactDiv ,.reservationDiv{
    display: flex;
    flex-direction: column;
    font-family: myFirstFont;
    justify-content: center;
    align-items: center;
    font-size: clamp(0.8rem, 1.6vw, 2.4rem);
    margin-top: calc(clamp(0px, 15vw, 200px));
}
.info {
    margin: 0.7rem 0 0.4rem;
}

li {
    display: flex;
    flex-direction: column;
  }
  
  label,
  input {
    padding: 0.1rem;
    margin-right: 2rem;
  }
  
  input {
    width: calc(28ch + 5vw);
    margin-bottom: 0.4em;
    border-radius: 5px;
    border: 1px solid gray;
    /* padding-left: 1em; */
    padding-bottom: 0.3em;
  }
  
  .inputGroup {
    display: flex;
    /* flex-direction: row; */
    flex-wrap: wrap;
  }
  
  .input_wrong {
    border: 1px solid red;
  }
  
  button {
    align-self: center;
    justify-self: center;
    padding: 0.5em;
    background-color: rgb(246, 260, 252);
    border-radius: 15px;
    /* margin-left: 3em; */
    margin-bottom: 2em;
  }
  label {
    margin-top: 0.7rem;
  }
  .middleContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: calc(clamp(0px, 15vw, 200px));
    /* height: 70vh; */
    box-shadow: 2px 5px 15px rgb(246, 255, 252);
    flex-shrink: 1;
    /* overflow: auto; */
  }